Repository appcelerator-modules/ti.map, pull requests merged in 2021-08, with the labels that each got.

#465 chore: build with SDK 10.0.1
  .github/workflows/android.yml
  .github/workflows/ios.yml
  Jenkinsfile
  apidoc/Snapshotter.yml
  ios/Classes/TiMapSnapshotterProxy.m
  ios/Classes/TiMapViewProxy.h
  ios/Classes/TiMapViewProxy.m
  ios/titanium.xcconfig
  test/unit/karma.unit.config.js
  test/unit/specs/annotation.spec.js
  test/unit/specs/route.spec.js
Labels: android, ios

#451 feat(android): add "camera" property and animateCamera()
  android/src/ti/map/AnnotationProxy.java
  android/src/ti/map/CameraProxy.java
  android/src/ti/map/CircleProxy.java
  android/src/ti/map/MapModule.java
  android/src/ti/map/PolygonProxy.java
  android/src/ti/map/PolylineProxy.java
  android/src/ti/map/RouteProxy.java
  android/src/ti/map/StreetViewPanoramaProxy.java
  android/src/ti/map/TiMapInfoWindow.java
  android/src/ti/map/TiMarker.java
  android/src/ti/map/TiStreetViewPanorama.java
  android/src/ti/map/TiUIMapView.java
  android/src/ti/map/ViewProxy.java
  apidoc/Camera.yml
  apidoc/Polyline.yml
  apidoc/View.yml
Labels: feature 🚀, android

#476 fix(ios): polyline click should only fire on line segments and support 2 points
  ios/Classes/TiMapView.m
Labels: bug 🐜, ios

#472 feat(android): add heatmap support
  android/src/ti/map/CircleProxy.java
  android/src/ti/map/PolygonProxy.java
  android/src/ti/map/PolylineProxy.java
  android/src/ti/map/TiMapUtils.java
  android/src/ti/map/TiUIMapView.java
  android/src/ti/map/ViewProxy.java
  apidoc/View.yml
Labels: feature 🚀, android

#477 chore: update module versions
  android/build.gradle
  android/manifest
  ios/manifest
  package-lock.json
  package.json
Labels: enhancement, android, ios
